/* Main Colour Palette */
:root {
    --primary-colour:#00F0C0;
    --secondary-colour:#03F070;
    --tertiary-colour:#00D1F0;
    --other-white:#efefef;
}

/* Google Font and Font Settings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family:"Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size:0.75rem;
  line-height:1.5;
}

body {
  margin:0;
  padding:2rem;
  text-align:left;
  position:relative;
}

/* General Styling */
body > * {
  width:min(75rem,100%); /* I love W3Schools */
  margin:0 auto;
}

main {
  margin-bottom:8rem;
}

ul {
  list-style:none;
}

/* Navigation Styling */
header {
  margin-bottom:1rem;
}

nav {
    background-color:var(--primary-colour);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    max-width:none;
}

nav ul {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:1rem;
  padding:0;
  margin:0;
  list-style:none;
}

nav a {
  text-decoration:none;
  font-weight:600;
  color:black;
  margin:5rem;
}

#masthead {
  display:grid;
  margin-bottom:1.5rem;
  width:100vw;
  margin-left:-2.5rem;
  background:var(--secondary-colour);
  color:var(--other-white);
}

#masthead img {
  width:100%;
  display:block;
}

.tagline h1 {
  margin:0 0 0.5rem;
  font-size:2rem;
  margin-left:10rem;
}

.tagline p {
  margin:0;
  max-width:40rem;
  margin-left:10rem;
}

#controls {
  display:flex;
  flex-wrap:wrap;
  margin-bottom:1rem;
}

#controls button {
  flex:1;
  padding:0.9rem 1rem;
  border:0;
  background:var(--other-white);
  cursor:pointer;
}

#controls button#active-button {
  background:var(--secondary-colour);
  color:white;
}

#solution-content {
  background:var(--other-white);
  padding:1.25rem;
}

#solution-content img {
  width:100%;
  height:15rem;
  object-fit:cover;
  display:block;
  margin:0 0 1rem;
}

#solution-content h2 {
  margin-top:0;
}

/* Footer Styling */
footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  margin-top:2rem;
  text-align:center;
  background-color:var(--tertiary-colour);
  padding:1rem 0;
  box-sizing:border-box;
}

footer img {
  width:2.5%;
  height:auto;
  margin-left:2.5rem;
  margin-right:2.5rem;
}

footer p {
  margin:0.5rem 0;
}

@media (min-width:30rem) and (max-width:60rem) {
  html {
    font-size:1rem;
    line-height:1.5;
  }
}

@media (min-width:60rem) {
  body {
    display:grid;
    justify-items:center;
    padding:2rem;
  }

  #masthead {
    grid-template-columns:1fr 1fr;
    align-items:center;
  }

  #masthead img {
    width:100%;
  }

  #solution-content {
    padding:1.75rem;
  }
}