/* I'm trying to go for a frutiger aero look */
/* Main Colour Palette */
:root {
    --primary-colour:#00F0C0;
    --secondary-colour:#03F070;
    --tertiary-colour:#00D1F0;
}

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}