/* I'm trying to go for a frutiger aero look */
/* Main Colour Palette */
:root {
    --primary-colour:#00F0C0;
    --secondary-colour:#03F070;
    --tertiary-colour:#00D1F0;
}

/* Google Font and Font Settings */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 0.75rem;
  line-height: 1.5;
}

/* Aligning everything to left for mobile layout */
body {
    padding: 2rem;
    text-align: left;
}

@media (min-width: 30rem) and (max-width: 60rem) {
  html {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (min-width: 60rem) {
  body {
    display: grid;
    justify-items: center;
    padding: 2rem;
  }

  body > * {
    width:min(75rem, 100%); /* I love W3schools */
  }
}